<h1><%= @house.name %></h1>
<h2>Motto: <%= @house.motto %></h2>
<ul>
  <% for character in @characters %>
    <li><%= link_to character.name, house_character_path(@house,character) %></li>
  <% end %>
</ul>
<p><%= link_to "Add Character", new_house_character_path(@house) %></p>
<br>
<p><%= link_to "Edit House", edit_house_path(@house) %></p>
<p><%= link_to "Delete House", house_path(@house), method: :delete %></p>
<p><%= link_to "Back to Houses", houses_path %></p>
