<h1><%= @character.name %></h1>
<ul>
  <% for category in @categories %>
    <li><%= link_to category.name, category_show_path(category) %></li>
  <% end %>
</ul>
<p><%= link_to "Add Tag", new_house_character_tag_path(@house, @character) %></p>
<p><%= link_to "Edit Character", edit_house_character_path(@house, @character) %></p>
<p><%= link_to "Delete Character", house_character_path(@house, @character), method: :delete %></p>
<p><%= link_to "Back to House", house_path(@house) %></p>
